# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

### Part 2 of "Data Analysis with Python: Zero to Pandas"


This tutorial series is a beginner-friendly introduction to programming and data analysis using the Python programming language. These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself. Check out the full series here: 

1. [First Steps with Python and Jupyter](https://jovian.ai/aakashns/first-steps-with-python)
2. [A Quick Tour of Variables and Data Types](https://jovian.ai/aakashns/python-variables-and-data-types)
3. [Branching using Conditional Statements and Loops](https://jovian.ai/aakashns/python-branching-and-loops)
4. [Writing Reusable Code Using Functions](https://jovian.ai/aakashns/python-functions-and-scope)
5. [Reading from and Writing to Files](https://jovian.ai/aakashns/python-os-and-filesystem)
6. [Numerical Computing with Python and Numpy](https://jovian.ai/aakashns/python-numerical-computing-with-numpy)
7. [Analyzing Tabular Data using Pandas](https://jovian.ai/aakashns/python-pandas-data-analysis)
8. [Data Visualization using Matplotlib & Seaborn](https://jovian.ai/aakashns/python-matplotlib-data-visualization)
9. [Exploratory Data Analysis - A Case Study](https://jovian.ai/aakashns/python-eda-stackoverflow-survey)

## Storing information using variables

In [1]:
my_fav_color = "blue"

In [2]:
my_fav_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable. 
You can also assign values to multiple variables in a single statement by separating the variable names and values with commas. For Example:

In [3]:
color1, color2, color3 = "red", "green", "blue"

In [4]:
print(color1, color2, color3)

red green blue

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [5]:
color4 = color5 = color6 = "magenta"

In [6]:
print(color4, color5, color6)

magenta magenta magenta

You can change the value stored within a variable by assigning a new value to it using another assignment statement. The old value is lost and cannot be recovered.

In [7]:
my_fav_color = color1

In [8]:
my_fav_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [9]:
c = 10

In [10]:
c = c+1

In [11]:
c

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [12]:
c = 10

In [13]:
# same as `counter = counter + 1`
c += 4

In [14]:
c

14

Here are some variable names:

In [15]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "ferrari"
the_three_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [16]:
a_variable

23

In [17]:
type(a_variable)

int

In [18]:
is_today_Saturday

False

In [19]:
type(is_today_Saturday)

bool

In [20]:
my_favorite_car

'ferrari'

In [21]:
type(my_favorite_car)

str

In [22]:
the_three_musketeers

['Athos', 'Porthos', 'Aramis']

In [23]:
type(the_three_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [24]:
current_year = 2020

In [25]:
current_year

2020

In [26]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [27]:
a_large_negative_number = -23374038374832934334234317348343

In [28]:
a_large_negative_number

-23374038374832934334234317348343

In [29]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [30]:
pi = 3.141592653589793238

In [31]:
pi

3.141592653589793

In [32]:
type(pi)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [33]:
one_hundredth = 1e-2

In [34]:
one_hundredth

0.01

In [35]:
type(one_hundredth)

float

In [36]:
avogadro_no = 6.02214076e23

In [37]:
avogadro_no

6.02214076e+23

In [38]:
type(avogadro_no)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [39]:
float(current_year)

2020.0

In [40]:
current_year

2020

In [41]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [42]:
int(pi)

3

In [43]:
int(avogadro_no)

602214075999999987023872

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [44]:
is_today_Saturday = False

In [45]:
is_today_Sunday = True

In [46]:
is_today_Sunday

True

In [47]:
type(is_today_Sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [48]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >=10

In [49]:
is_ice_bag_expensive

False

In [50]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [51]:
5 + False

5

In [52]:
5 + True

6

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [53]:
nothing = None

In [54]:
nothing

In [55]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [56]:
today = "Saturday"

In [57]:
today

'Saturday'

In [58]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [59]:
my_favorite_movie = "One Flew Over the Cuckoo's Nest"

In [60]:
my_favorite_movie

"One Flew Over the Cuckoo's Nest"

In [61]:
type(my_favorite_movie)

str

In [62]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot'

In [63]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [64]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [65]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [66]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."'''

In [67]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?"\nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [68]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

You can check the length of a string using the `len` function.

In [69]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [70]:
multiline_string = '''a
b'''
multiline_string

'a\nb'

In [71]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [72]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [73]:
today = "Saturday"

In [74]:
today[0]

'S'

In [75]:
today[3]

'u'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [76]:
today[5:8]

'day'

In [77]:
today[5:]

'day'

In [78]:
today[:5]

'Satur'

In [79]:
'day' in today

True

In [80]:
'Sun' in today

False

Two or more strings can be joined or **concatenated** using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [81]:
full_name = "Mr. Manan Arora"
greeting = "Hello"

In [82]:
greeting + full_name

'HelloMr. Manan Arora'

In [83]:
# adding some additional space for the desired output

In [84]:
greeting + " " + full_name + "!"

'Hello Mr. Manan Arora!'

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [85]:
today

'Saturday'

In [86]:
today.lower()

'saturday'

In [87]:
today.upper()

'SATURDAY'

In [88]:
today.upper()

'SATURDAY'

In [89]:
today.capitalize()

'Saturday'

In [90]:
another_day = today.replace("Satur","Wednes")

In [91]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [92]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [93]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [94]:
"      manan        ".strip()

'manan'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [95]:
# Input Variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [96]:
print(output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, profit_margin * number_of_bags * cost_of_ice_bag))

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

You can `str` to convert a value of any data type into a string.

In [97]:
str(2.14)

'2.14'

In [98]:
str(200)

'200'

In [99]:
str(True)

'True'

In [100]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [101]:
first_name = "John"

In [102]:
first_name == "Doe"

False

In [103]:
first_name == "John"

True

In [104]:
first_name != "James"

True

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [105]:
fruits = ['apple', 'banana', 'cherry']

In [106]:
fruits

['apple', 'banana', 'cherry']

In [107]:
type(fruits)

list

Let's try creating a list containing values of different data types, inlcuding another list.

In [108]:
a_list = [23, 'hello', None, 3.14, fruits, 3<=5]

In [109]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [110]:
type(a_list)

list

In [111]:
empty_list = []

In [112]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [113]:
len(fruits)

3

In [114]:
print("Number of Fruits:", len(fruits))

Number of Fruits: 3

In [115]:
len(a_list)

6

In [116]:
len(empty_list)

0

Can acces the element of the list using its index, e.g., fruits[2]

In [117]:
fruits[0]

'apple'

In [118]:
fruits[1]

'banana'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [119]:
fruits[3]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [120]:
fruits[-1]

'cherry'

In [121]:
fruits[-3]

'apple'

In [122]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [137]:
a_list

[23, 'hello', None, 3.14, ['apple', 'cherry', 'dates', 'banana'], True]

In [138]:
len(a_list)

6

In [139]:
a_list[2:5]

[None, 3.14, ['apple', 'cherry', 'dates', 'banana']]

Note that the range `2:5` includes the element at the start index `2` but does not include the element at the end index `5`. So, the result has 3 values (index `2`, `3`, and `4`).

Here are some experiments you should try out :

* Try setting one or both indices of the range are larger than the size of the list, e.g., a_list[2:10]

In [140]:
a_list[2:100] # outputs till the end of the list irrespective of the size

[None, 3.14, ['apple', 'cherry', 'dates', 'banana'], True]

* Try setting the start index of the range to be larger than the end index, e.g., a_list[12:10]

In [141]:
a_list[3:1] # displays empty list

[]

* Try leaving out the start or end index of a range, e.g., a_list[2:] or a_list[:5]

In [142]:
a_list[2:]

[None, 3.14, ['apple', 'cherry', 'dates', 'banana'], True]

In [143]:
a_list[:4]

[23, 'hello', None, 3.14]

* Try using negative indices for the range, e.g., a_list[-2:-5] or a_list[-5:-2] (can you explain the results?)

In [144]:
a_list[-2:-5] # empty list as -5 < -2 so can't access that

[]

In [145]:
a_list[-5:-2]

['hello', None, 3.14]

In [146]:
a_list

[23, 'hello', None, 3.14, ['apple', 'cherry', 'dates', 'banana'], True]

In [147]:
a_list[-5:-1]

['hello', None, 3.14, ['apple', 'cherry', 'dates', 'banana']]

You can also change the value at a specific index within a list using the assignment operation.

In [148]:
fruits

['apple', 'cherry', 'dates', 'banana']

In [123]:
fruits[1] = "blueberry"

In [124]:
fruits

['apple', 'blueberry', 'cherry']

A new value can be added to the end of a list using the `append` method.

In [125]:
fruits.append('dates')

In [126]:
fruits

['apple', 'blueberry', 'cherry', 'dates']

A new value can also be inserted at a specific index using the `insert` method.

In [127]:
fruits.insert(1,"banana")

In [128]:
fruits

['apple', 'banana', 'blueberry', 'cherry', 'dates']

You can remove a value from a list using the `remove` method.

In [129]:
fruits.remove("blueberry")

In [130]:
fruits

['apple', 'banana', 'cherry', 'dates']

What happens if a list has multiple instances of the value passed to `.remove` ?

In [131]:
fruits

['apple', 'banana', 'cherry', 'dates']

In [132]:
fruits.append('banana')

In [133]:
fruits

['apple', 'banana', 'cherry', 'dates', 'banana']

In [134]:
fruits.remove("banana")

In [135]:
fruits

['apple', 'cherry', 'dates', 'banana']

As we can see, `.remove()` only removes the first occurence of the element

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [136]:
fruits

['apple', 'cherry', 'dates', 'banana']

In [149]:
fruits.pop(1)

'cherry'

In [150]:
fruits

['apple', 'dates', 'banana']

If no index is provided, the `pop` method removes the last element of the list.

In [151]:
fruits.pop()

'banana'

In [152]:
fruits

['apple', 'dates']

In [153]:
'pineapple' in fruits

False

In [154]:
'apple' in fruits

True

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [155]:
fruits

['apple', 'dates']

In [156]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['banana', 'cherry']

In [157]:
more_fruits

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'banana', 'cherry']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [158]:
more_fruits_copy = more_fruits.copy()

In [159]:
more_fruits_copy

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'banana', 'cherry']

In [160]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'dates', 'tomato', 'guava', 'banana']

In [161]:
# Original list remains unchanged
more_fruits

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'banana', 'cherry']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will **affect** the other.

In [162]:
more_fruits_not_a_copy = more_fruits

In [163]:
more_fruits_not_a_copy

['apple', 'dates', 'pineapple', 'tomato', 'guava', 'banana', 'cherry']

In [164]:
more_fruits_not_a_copy.remove('pineapple')

In [165]:
more_fruits_not_a_copy.pop()

'cherry'

In [166]:
more_fruits_not_a_copy

['apple', 'dates', 'tomato', 'guava', 'banana']

In [167]:
more_fruits

['apple', 'dates', 'tomato', 'guava', 'banana']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [172]:
numbers = [10,20,30,40,50,60,70,80,90]
numbers_2 = [1,2,3,4,5,6,7,8,9]

In [171]:
# reverse the order of the elements
numbers.reverse()
numbers

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [174]:
# add the elements of on list at the end of another list
# we use .extend() for this
numbers_2.extend(numbers)
numbers_2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90]

In [177]:
# Sort a list in alphabetical order
more_fruits.sort()

In [178]:
more_fruits

['apple', 'banana', 'dates', 'guava', 'tomato']

In [184]:
# Sort a list of numbers in decreasing order
num_list = [5,6,2,3,1,4,8]
num_list

[5, 6, 2, 3, 1, 4, 8]

In [180]:
num_list.sort(1)

TypeError: sort() takes no positional arguments

In [183]:
num_list.sort()
num_list.reverse()
num_list

[8, 6, 5, 4, 3, 2, 1]

We can write the above code as :

In [185]:
num_list.sort(reverse=True)

In [186]:
num_list

[8, 6, 5, 4, 3, 2, 1]

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [187]:
fruits = ('apple', 'cherry', 'dates')

In [188]:
# check the no. of elements
len(fruits)

3

In [189]:
# get an element (positive index)
fruits[0]

'apple'

In [190]:
# get an element (negative index)
fruits[-1]

'dates'

In [191]:
# check if it contains an element
'dates' in fruits

True

In [192]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [193]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [194]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma separated values into a tuple

In [195]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [196]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

In [197]:
type(the_3_musketeers)

tuple

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [198]:
single_element_tuple = 4,

In [199]:
single_element_tuple

(4,)

In [200]:
not_a_tuple = (4)

In [201]:
not_a_tuple

4

In [202]:
type(not_a_tuple)

int

Tuples are often used to create multiple variables with a single statement.

In [203]:
point = (3,4)

In [204]:
point_x, point_y = point

In [205]:
point_x

3

In [206]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [207]:
tuple(['A','B','C'])

('A', 'B', 'C')

In [208]:
list(('D','E','F'))

['D', 'E', 'F']

Tuples have just two built-in methods: `count` and `index`.

In [209]:
a_tuple = 23, 'hello', False, None, 23, 37, "hello"

In [210]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [211]:
a_tuple.count('hello')

2

In [212]:
help(a_tuple.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [ ]:
a_tuple()