# A Quick Tour of Variables and Data Types in Python

![](https://i.imgur.com/6cg2E9Q.png)

### Part 2 of "Data Analysis with Python: Zero to Pandas"


This tutorial series is a beginner-friendly introduction to programming and data analysis using the Python programming language. These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself. Check out the full series here: 

1. [First Steps with Python and Jupyter](https://jovian.ai/aakashns/first-steps-with-python)
2. [A Quick Tour of Variables and Data Types](https://jovian.ai/aakashns/python-variables-and-data-types)
3. [Branching using Conditional Statements and Loops](https://jovian.ai/aakashns/python-branching-and-loops)
4. [Writing Reusable Code Using Functions](https://jovian.ai/aakashns/python-functions-and-scope)
5. [Reading from and Writing to Files](https://jovian.ai/aakashns/python-os-and-filesystem)
6. [Numerical Computing with Python and Numpy](https://jovian.ai/aakashns/python-numerical-computing-with-numpy)
7. [Analyzing Tabular Data using Pandas](https://jovian.ai/aakashns/python-pandas-data-analysis)
8. [Data Visualization using Matplotlib & Seaborn](https://jovian.ai/aakashns/python-matplotlib-data-visualization)
9. [Exploratory Data Analysis - A Case Study](https://jovian.ai/aakashns/python-eda-stackoverflow-survey)

## Storing information using variables

In [1]:
my_fav_color = "blue"

In [2]:
my_fav_color

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable. 
You can also assign values to multiple variables in a single statement by separating the variable names and values with commas. For Example:

In [3]:
color1, color2, color3 = "red", "green", "blue"

In [4]:
print(color1, color2, color3)

red green blue

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [5]:
color4 = color5 = color6 = "magenta"

In [6]:
print(color4, color5, color6)

magenta magenta magenta

You can change the value stored within a variable by assigning a new value to it using another assignment statement. The old value is lost and cannot be recovered.

In [7]:
my_fav_color = color1

In [8]:
my_fav_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [9]:
c = 10

In [10]:
c = c+1

In [11]:
c

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [16]:
c = 10

In [17]:
# same as `counter = counter + 1`
c += 4

In [18]:
c

14

Here are some variable names:

In [19]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "ferrari"
the_three_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [20]:
a_variable

23

In [21]:
type(a_variable)

int

In [22]:
is_today_Saturday

False

In [23]:
type(is_today_Saturday)

bool

In [24]:
my_favorite_car

'ferrari'

In [25]:
type(my_favorite_car)

str

In [26]:
the_three_musketeers

['Athos', 'Porthos', 'Aramis']

In [27]:
type(the_three_musketeers)

list

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [28]:
current_year = 2020

In [29]:
current_year

2020

In [30]:
type(current_year)

int

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [31]:
a_large_negative_number = -23374038374832934334234317348343

In [32]:
a_large_negative_number

-23374038374832934334234317348343

In [33]:
type(a_large_negative_number)

int

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [34]:
pi = 3.141592653589793238

In [35]:
pi

3.141592653589793

In [36]:
type(pi)

float

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [37]:
one_hundredth = 1e-2

In [38]:
one_hundredth

0.01

In [39]:
type(one_hundredth)

float

In [40]:
avogadro_no = 6.02214076e23

In [41]:
avogadro_no

6.02214076e+23

In [43]:
type(avogadro_no)

float

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [44]:
float(current_year)

2020.0

In [45]:
current_year

2020

In [46]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [47]:
int(pi)

3

In [48]:
int(avogadro_no)

602214075999999987023872

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [50]:
is_today_Saturday = False

In [51]:
is_today_Sunday = True

In [52]:
is_today_Sunday

True

In [53]:
type(is_today_Sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [54]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >=10

In [55]:
is_ice_bag_expensive

False

In [56]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [57]:
5 + False

5

In [58]:
5 + True

6

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [59]:
nothing = None

In [60]:
nothing

In [61]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [62]:
today = "Saturday"

In [63]:
today

'Saturday'

In [64]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [65]:
my_favorite_movie = "One Flew Over the Cuckoo's Nest"

In [66]:
my_favorite_movie

"One Flew Over the Cuckoo's Nest"

In [67]:
type(my_favorite_movie)

str

In [70]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot'

In [71]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [72]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [73]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [76]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."'''

In [77]:
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?"\nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [78]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

You can check the length of a string using the `len` function.

In [79]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [80]:
multiline_string = '''a
b'''
multiline_string

'a\nb'

In [81]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [82]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations, which are discussed in the next section. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [83]:
today = "Saturday"

In [84]:
today[0]

'S'

In [85]:
today[3]

'u'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [86]:
today[5:8]

'day'

In [87]:
today[5:]

'day'

In [88]:
today[:5]

'Satur'

In [89]:
'day' in today

True

In [90]:
'Sun' in today

False

Two or more strings can be joined or **concatenated** using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [91]:
full_name = "Mr. Manan Arora"
greeting = "Hello"

In [92]:
greeting + full_name

'HelloMr. Manan Arora'

In [93]:
# adding some additional space for the desired output

In [94]:
greeting + " " + full_name + "!"

'Hello Mr. Manan Arora!'

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [95]:
today

'Saturday'

In [96]:
today.lower()

'saturday'

In [97]:
today.uppper()

AttributeError: 'str' object has no attribute 'uppper'

In [98]:
today.upper()

'SATURDAY'

In [99]:
today.capitalize()

'Saturday'

In [100]:
another_day = today.replace("Satur","Wednes")

In [101]:
another_day

'Wednesday'

Note that `replace` returns a new string, and the original string is not modified.

In [102]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [103]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [104]:
"      manan        ".strip()

'manan'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [106]:
# Input Variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [108]:
print(output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, profit_margin * number_of_bags * cost_of_ice_bag))

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

You can `str` to convert a value of any data type into a string.

In [109]:
str(2.14)

'2.14'

In [110]:
str(200)

'200'

In [111]:
str(True)

'True'

In [112]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

In [113]:
first_name = "John"

In [114]:
first_name == "Doe"

False

In [115]:
first_name == "John"

True

In [116]:
first_name != "James"

True